.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .blog_content h1{
        font-size: 8pt;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .blog_content h1{
        font-size: 15pt;
    }
    .content post{
        font-size: 12pt;
    }

}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .blog_content h1{
        font-size: 20pt;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.recommend{
    text-align: center;
    padding-top: 80px;
}
.blog_content{
    text-align: center;
}

.myfooter {
    position: absolute;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #444444; /* IE8 proofing */
    color: rgba(68, 68, 68, 0.5);
}




.content{
    padding:5px;
    font-size: 12pt;
}

.post{
    line-height: 2.2em;
    font-size: 15pt;
}

.post quote{
    float: right;
    text-align: right;
    font-size: 8pt;
    padding: 8px;
}

.post img{
    text-align: center;
}
.clearfloat{
    clear: both;
}